<nav>
  <div class="nav-wrapper green">
    <!-- <a href="#" class="brand-logo center">SKOOL</a> -->
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>
        <a routerLink="/about">About </a> </li>
      <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
    </ul>
    <!-- Mobile collapsable menu -->
    <ul class="sidenav" id="mobile-demo">
      <li><a routerLink="/about" routerLinkActive="active">About</a></li>
      <li><a routerLInk="/contact" routerLinkActive="active">Contact</a></li>
    </ul>
  </div>
</nav>
