<nav>
  <div class="nav-wrapper green">
    <!-- <a href="#" class="brand-logo center">SKOOL</a> -->
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a class="dropdown-trigger" href="#!" data-target="dropdown-desktop">Explore<i class="material-icons right">arrow_drop_down</i></a></li>
      <li>
        <a routerLink="/about">About </a> </li>
      <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
    </ul>
    
    <!-- Mobile collapsable menu -->
    <ul class="sidenav" id="mobile-demo">
      <li><a class="dropdown-trigger" href="#!" data-target="dropdown-mobile">Explore<i class="material-icons right">arrow_drop_down</i></a></li>
      <li><a routerLink="/about" routerLinkActive="active">About</a></li>
      <li><a routerLInk="/contact" routerLinkActive="active">Contact</a></li>
    </ul>
  </div>
</nav>

<ul id="dropdown-desktop" class="dropdown-content">
  <li><a href="#!">Articles</a></li>
  <li><a href="#!">News</a></li>
  <li class="divider"></li>
  <li><a href="#!">Scholarships info</a></li>
</ul>
<ul id="dropdown-mobile" class="dropdown-content">
  <li><a href="#!">Articles</a></li>
  <li><a href="#!">News</a></li>
  <li class="divider"></li>
  <li><a href="#!">Scholarships info</a></li>
</ul>