<nav>
  <div class="nav-wrapper green">
    <!-- <a href="#" class="brand-logo center">SKOOL</a> -->
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
    <!-- Mobile collapsable menu -->
    <ul class="sidenav" id="mobile-demo">
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
</nav>