<div *ngFor="let school of schools" class="row">
  <div class="col s12 left-align">
    <div class="card white">
      <div class="card-content">
        <h4 class="card-title">{{school.name}}</h4>
        <span class="badge">{{school.type}} | {{school.level}}</span>

        <div *ngIf="school.rating; else noRating" class="rating">
          <i *ngFor="let star of ' '.repeat(school.rating).split('')" class="tiny material-icons">star</i>
        </div>

        <!-- If the rating is 0 -->
        <ng-template #noRating><span class="grey-text text-lighten-2">No ratings</span><br></ng-template>

        <p class="truncate">{{school.description}}</p>

      </div>
      <div class="card-action">
        <a [routerLink]="['/schools', school._id]" routerLinkActive="active" class="green-text">
          More Details
          <i class="material-icons left">keyboard_arrow_right</i>
        </a>
        <br>
      </div>
    </div>
  </div>
</div>
