<div class="green lighten-1 white-text" id="scholarships-header">
  <div class="container">
    <h1>Scholarships</h1>
    <p>Find websites to get scholarship opportunities</p>
  </div>
</div>

<div class="container">
  <div class="col-12">
    <h4>Scholar-positions</h4>
    <a href="https://scholarship-positions.com/" target="_blank">https://scholarship-positions.com/</a>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique asperiores, harum eveniet, quod, vitae amet veritatis a aut molestias consectetur cum! Laboriosam alias laudantium nemo? Voluptatem assumenda dolores sed perspiciatis.</p>
  </div>
  <div class="col-12">
    <h4>AllScholarships</h4>
    <a href="http://allscholarships.info/" target="_blank">http://allscholarships.info/</a>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique asperiores, harum eveniet, quod, vitae amet veritatis a aut molestias consectetur cum! Laboriosam alias laudantium nemo? Voluptatem assumenda dolores sed perspiciatis.</p>
  </div>
  <div class="col-12">
    <h4>International Scholarships</h4>
    <a href="https://www.internationalscholarships.com/" target="_blank">https://www.internationalscholarships.com/</a>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique asperiores, harum eveniet, quod, vitae amet veritatis a aut molestias consectetur cum! Laboriosam alias laudantium nemo? Voluptatem assumenda dolores sed perspiciatis.</p>
  </div>
  <div class="col-12">
    <h4>Scholars4Dev</h4>
    <a href="http://www.scholars4dev.com/" target="_blank">http://www.scholars4dev.com/</a>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique asperiores, harum eveniet, quod, vitae amet veritatis a aut molestias consectetur cum! Laboriosam alias laudantium nemo? Voluptatem assumenda dolores sed perspiciatis.</p>
  </div>
</div>