<div id="search-area" class="green lighten-1 white-text">
    <div class="container">
        <div class="row center">
            <h1>SKOOL</h1>
            <p>Look For Education</p>
            <div class="row left-align">
                <div class="input-field col s8 offset-s2 white-text z-depth-2">
                    <i class="white-text material-icons prefix">search</i>
                    <input (keyup)="startSearch()" [(ngModel)]="searchTerm" id="search" type="search" class="green lighten-1 white-text">
                    <label for="search" class="white-text">Start typing to search for schools/universities</label>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container center">
    <app-school-list></app-school-list>
</div>

